Options +FollowSymLinks
RewriteEngine on

RewriteRule ^23$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p98.jpg [R=302,NC,NE,L]
RewriteRule ^24$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p109_0.jpg [R=302,NC,NE,L]
RewriteRule ^25$ https://www.vai.be/sites/default/files/fotos/projecten/20110306_JAAR_PROJ08_01.jpg [R=302,NC,NE,L]
RewriteRule ^26$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p85_0.jpg [R=302,NC,NE,L]
RewriteRule ^27$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p85_0.jpg [R=302,NC,NE,L]
RewriteRule ^28$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
RewriteRule ^29$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
RewriteRule ^30$ https://www.vai.be/ [R=302,NC,NE,L]
RewriteRule ^31$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
RewriteRule ^32$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
RewriteRule ^33$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
